.App {
  text-align: center;
  background-color: #f7f2ed;
  /* background-color: #43434d; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  font-family: sans-serif;
}

.App-header {
  height: 50px;
}